@use '../abstracts' as *;

.brandsContainer {
  @include flexCenter(column);
  justify-content: space-between;
  padding-top: 5rem;
  display: flex;
  @media (min-width: $tablets) {
    display: flex;
  }
}

.brandsContainer h1 {
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 3rem;
  color: $black;
  @media (min-width: $tablets) {
    font-size: 3.6rem;
  }
}

.brands {
  // @include flexCenter(row);
  // gap: 4rem;
  // flex-wrap: wrap;
  // width: 100%;
  // padding-bottom: 5rem;
  margin-left: 2rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  row-gap: 3rem;
  margin-bottom: 2rem;
  @media (min-width: $tablets) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $desktop) {
    @include flexCenter(row);
    gap: 8rem;
  }
}
