@use '../abstracts' as *;

.BurgerNavContainer {
  @include flexCenter(column);
  gap: 0.7rem;
  cursor: pointer;
  position: relative;
  @media (min-width: $tablets) {
    display: none;
  }
}
.BurgerNav {
  width: 3rem;
  height: 0.4rem;
  background-color: $wihte;
  transition: all 0.7s ease;
}
.margin {
  margin-right: 3rem;
}
.firstBar {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
}
.hidden {
  visibility: hidden;
  display: none;
  transition: none;
}
.lastBar {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
}
