@use '../abstracts' as *;

.defaultViewsSContainer {
  @include flexCenter(column);
  color: $black;
}

.headerViews {
  background-color: $wihte-1;
  width: 100%;
  @include flexCenter(column);
  padding-top: 2rem;
}

.titleCircle {
  width: 9.8rem;
  height: 9.8rem;
  background-color: $black;
  border-radius: 50%;
  color: $wihte;
  @include flexCenter(row);
}

.titleLetters {
  font-size: 3.4rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
}

.welcomeAndName {
  margin: 2rem 0;
  @include flexCenter(row);
}

.titleWelcome {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  margin-right: 1rem;
}
.titleName {
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.sideNavbarLinks {
  width: 100%;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}

.sideNavbarLinks li {
  width: 100%;
  height: 7.6rem;
  background-color: $wihte-1;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  @include flexCenter(row);
}

.sideNavbarIcon {
  font-size: 2.5rem;
  padding-left: 1rem;
  margin-left: 2rem;
}
.sideNavbarLinkText {
  font-size: 2rem;
  flex: 2;
  text-align: center;
}
