@use '../abstracts' as *;

.LFooterContainer {
  background-color: $black;
  width: 100%;
  height: 20.5rem;
  @include flexCenter(row);
  padding: 0 12rem;
}
.linkContainer,
.newsContainer {
  color: $wihte;
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;
  width: 25%;
}

.linkContainer h3,
.newsContainer h3 {
  font-size: 1.4rem;
  font-weight: bolder;
}

.linkContainer a {
  font-size: 1.4rem;
  font-weight: lighter;
  opacity: 0.8;
}

.linkContainer a:hover {
  text-decoration: underline;
}
.newsContainer {
  position: relative;
  align-self: flex-start;
  margin-top: 4.8rem;
}
.inputAndButtonContainer {
  border: 2px solid $wihte;
  width: 20rem;
  height: 3.9rem;
  position: absolute;
  top: 3.5rem;
  left: 0;
}

.newsContainer .inputAndButtonContainer input {
  background-color: transparent;
  border: none;
  padding-left: 1.7rem;
  padding-top: 1rem;
  color: $wihte;
}
.newsContainer .inputAndButtonContainer button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.7rem;
  height: 3.5rem;
  cursor: pointer;
}
