@use '../abstracts' as *;

.myDetailsContainer {
  @include flexCenter(column);
  padding: 4rem 0;
  color: $black;
  position: relative;
  width: 100%;
}
.myDetailsContainer h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

.myDetailsForm {
  width: 100%;
  @include flexCenter(column);
  margin-top: 20px;
}

.myDetailsForm button {
  width: 35rem;
  height: 4.2rem;
  background-color: $black;
  color: $wihte;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
