@use '../abstracts' as *;
.container,
.container.active:hover {
  width: 100%;
  height: 3.5rem;
  background-color: $wihte;
  color: $black;
  @include flexCenter(row);
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: 'Antonio-Bold', sans-serif;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.container:hover {
  background-color: transparent;
  color: $wihte;
  outline: 3px solid;
}

.container.active,
.container.active:hover {
  background-color: $gray;
}
