@use '../abstracts' as *;

.wishListProductsContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
  @media (min-width: $tablets) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}
